.center {
	text-align: center;
}

.listText {
	text-indent: 0.8em;
}

input[type=checkbox] {
	float: right;
	margin: 4px 12px 0 !important;
}

.fa-check-square-o {
	color: green;
	float: right;
	padding-top: 3.2px;
}

.fa-trash-o {
	color: red;
}

button.deleteBtn {
	float: right;
	margin-left: 6px;
	padding: 0;
}

label {
	font-weight: normal !important;
}
